<html>
    <head>
        <title>Scoring Entry {{ team.entry_name }}</title>
    </head>
    <body>
        <p>Entry {{ team.entry_name }}</p>
        <form action="{% url 'submit_score' team.team_name %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit"/>
        </form>
        <script>
            function cancel() {
                window.location = "/judge/home"
            }
        </script>
        <p><button onclick="cancel()">Cancel</button>
    </body>
</html>
