{% extends 'hl_admin/base.html' %}
	
{% block head %}
    <title>Admin Home</title>
{% endblock %}
{% block body %}
<style>

	input[type=submit] {
		width: 100%;
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		text-align: center;
	}

	div {
		border-radius: 5px;
		padding: 20px;
	}
</style>
<div>
	<form action="/admin/db" method="get">
    <p>
		<input type="submit" value="Manage Database">
    </p>
	</form>
	<form action="/admin/scores/" method="get">
    <p>
		<input type="submit" value="View Results">
    </p>
	</form>
	<form action="/admin/judges/" method="get">
    <p>
		<input type="submit" value="View Judging Statistics">
    </p>
	</form>
	<form action="/admin/create_user/" method="get">
    <p>
		<input type="submit" value="Create Judge or Registrar">
    </p>
	</form>
	<form action="/admin/viewqr/" method="get">
    <p>
		<input type="submit" value="View QR Codes">
    </p>
	</form>
</div>
{% endblock %}
