{% extends 'hl_admin/base.html' %}

{% block head %}
    <title>Judges</title>
{% endblock %}
{% block body %}
    <h2>
        List of Judges
    </h2>
    <ul>
        {% for judge in judges %}
            <li><a href="{% url 'judge_stats' judge.user.username %}">{{judge.user.username}}</a></li>
        {% endfor %}
    </ul>
    <script type = "text/javascript">
		function home(){
			window.location.href= "/admin/home";
		}
    </script>
    <p><button onclick="home()">Home</button>
{% endblock %}
