<html>
    <head>
        {% load static %}
        <title>Login</title>
        <script type="text/javascript" src="{% static "/qr/grid.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/version.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/detector.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/formatinf.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/errorlevel.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/bitmat.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/datablock.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/bmparser.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/datamask.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/rsdecoder.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/gf256poly.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/gf256.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/decoder.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/qrcode.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/findpat.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/alignpat.js" %}"></script>
        <script type="text/javascript" src="{% static "/qr/databr.js" %}"></script> 
    </head>
    <body>
        <h2>Login</h2>
        <form method="post" id="login_form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <script type="text/javascript">
            function showQR() {
                document.getElementById('use_qr').style.visibility = 'hidden';
                qrcode.setWebcam("video");
            }
            qrcode.callback = function(str) {
                var split = str.split("%");
                if (split.length == 2) {
                    document.getElementById('id_username').value = split[0];
                    document.getElementById('id_password').value = split[1];
                    document.getElementById('login_form').submit();
                } else {
                    alert("Invalid login credentials");
					document.location.reload();
                }
            }
        </script>
        <p>
            <button id="use_qr" onclick="showQR()">Use QR Code</button>
        </p>
        <p>
            <video id="video" width=0 height=0 autoplay=true/>
        </p>
    </body>
</html>
